<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ma cave
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="filters">
        <ion-input label="Recherche une bière" [(ngModel)]="search"></ion-input>
        <ion-checkbox (click)="filtersByFavorites()">Afficher bières favorites</ion-checkbox>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let beer of beers | filters:search">
        <div class="beer-card">
          <div class="dropdown">
            <button>Actions</button>
            <div class="dropdown-content">
              <a (click)="update(beer.id)" style="cursor: pointer;">Edit</a>
              <a (click)="deleteBeer(beer.id)" style="cursor: pointer;">Delete</a>
            </div>
          </div>
          <div class="container-beer-img">
            <ion-img class="beer-img" [src]="beer.image"
            ></ion-img>
            <div class="main-infos-container">
              <span class="beer-name">{{beer.name}}</span>
              <img *ngIf="beer.favorite" src="../../assets/coeurs.png"/>
              <span class="beer-mark">{{beer.mark}} <img src="../../assets/yellow-star.svg" height="20px" width="20px"/> </span>
            </div>
            <span class="beer-comments">{{beer.comments}}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
