.beer-img {
    height: 200px;
    img {
        max-height: 200px;
    }
}

.beer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #fff;
    border: solid 2px gray;
}

.container-beer-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.beer-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.beer-mark, .beer-comments {
    font-weight: bold;
    color: black;
    font-size: 14;
}