<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajouter Biere
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="beerForm" (ngSubmit)="onSubmit()">
    <div class="beer-form">
      <label for="name">Nom</label>
      <ion-input type="text" formControlName="name"></ion-input>
      <label for="mark">Note sur 5</label>
      <ion-input type="number" max="5" formControlName="mark"></ion-input>
      <label for="comments">Commentaire</label>
      <ion-input type="text" formControlName="comments"></ion-input>
      <label for="favorite">Favoris</label>
      <ion-checkbox id="favoris-checkbox" formControlName="favorite"></ion-checkbox>
      
      <div *ngIf="!edit_view" class="container-img">
        <label for="imageUpload" class="custom-file-input-label">Ajouter une image</label>
        <ion-input type="file" class="file-input" accept="image/*" id="imageUpload" formControlName="image" (change)="onImageUpload($event)"></ion-input>
      </div>
      <div *ngIf="edit_view" class="container-img">
        <label for="imageUpload" class="custom-file-input-label">
          Image
          <input type="file" id="imageUpload" (change)="onImageUpload($event)" accept="image/*" style="display: none">
          <ion-icon name="pencil" class="edit-icon"></ion-icon>
        </label>
        <div style="display: flex; justify-content: center; align-items: center;">
          <ion-img [src]="imageURL" style="width: 20%; height: 20%;"></ion-img>
        </div>
        
      </div>
      
    </div>
    <ion-button expand="full" type="submit" [disabled]="!beerForm.valid"> {{ edit_view ? 'Modifier' : 'Ajouter' }}</ion-button>
  </form>
   
</ion-content>
